body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background: #fff;
    color: #333;
  }
  
  header {
    background: #007bff;
    color: white;
    padding: 1em;
    text-align: center;
  }
  
  nav {
    display: flex;
    justify-content: flex-end;
    gap: 1em;
    margin-top: 1em;
  }
  
  nav a {
    color: white;
    text-decoration: none;
    padding: 0.5em;
    transition: background-color 0.3s, color 0.3s;
     border-radius: 5px;
     font-weight: bold;
  }
  nav a:hover {
    background-color: white;
    color: #007bff;
  }
  
  
  section {
    padding: 2em;
  }
  
  .service-list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5em;
  }
  
  .service-card {
    padding: 1em;
    background-color: #f9f9f9;
    border-left: 4px solid #007bff;
    border-radius: 8px;
  }
  
  footer {
    text-align: center;
    padding: 1em;
    background: #f1eeee;
  }
  p{
    color: #0a0a0a;
  }
  
  @media (min-width: 768px) {
    .service-list {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  
  